@model IEnumerable<project.Models.Loai>

<div class="container">
<h2>
    Hang Hoa
    <a class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i></a>
</h2>
<div>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                 <td>
                    <!--<img class="img-responsive img-thumbnail" style="max-height:100px;" src="~/images/Hinh/Loai/@item.Hinh" />
                    @*tml.DisplayFor(modelItem => item.Hinh)*@-->
                </td> 
                <td>
                    <a data-toggle="modal" data-target="#myModal" asp-route-id="@item.MaLoai" asp-controller="Loai" asp-action="Edit" class="btn btn-info"> <i class='far fa-edit'></i> Edit </a>
                    <a data-toggle="modal" data-target="#myModal" asp-route-id="@item.MaLoai" asp-controller="Loai" asp-action="Details" class="btn btn-success"> <i class='far fa-file'></i> Details </a>
                    <a data-toggle="modal" data-target="#myModal" asp-route-id="@item.MaLoai" asp-controller="Loai" asp-action="Delete" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Delete </a>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
    </table>
</div>
</div>
